<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Personal Sports Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Personal Sports Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/favorites">Favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><i class="fa-solid fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="slideshow" style="border-radius: 10px; overflow: hidden;">
            <img src="https://images.unsplash.com/photo-1521412644187-c49fa049e84d?fit=crop&w=800&h=300" alt="Image 1 - Basketball">
            <img src="https://images.unsplash.com/photo-1593005510329-8a4035a7238f?fit=crop&w=800&h=300" alt="Image 2 - Soccer">
            <img src="https://images.unsplash.com/photo-1546484953-677481a3e3d5?fit=crop&w=800&h=300" alt="Image 3 - Running">
        </div>
        <div class="d-flex align-items-stretch justify-content-between">
            <div class="container-left" style="margin-left: 25px;">
                <div class="row">
                    <div id="favorites" class="col-md-3">
                        <h3 class="text-center">Favorite Teams</h3>
                        <ul class="list-group">
                            <li class="list-group-item">Team 1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-right  float-right" id="hyperlink-box">
                <div id="links" class="col-md-3">
                    <h3 class="text-center">Links</h3>
                    <div th:each="hyperlink : ${hyperlinks}">
                        <a href="${hyperlink.url}" th:text="${hyperlink.name}"></a>
                        <a th:href="@{/hyperlinks/edit/{id}(id=${hyperlink.id})}">Edit</a>
                        <a th:href="@{/hyperlinks/delete/{id}(id=${hyperlink.id})}">Delete</a>
                    </div>
                    <a class="btn btn-primary" th:href="@{/hyperlinks/add}">Add Hyperlink</a>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.slideshow').slick({
                    dots: false,
                    infinite: true,
                    speed: 500,
                    fade: true,
                    cssEase: 'linear',
                    autoplay: true,
                    autoplaySpeed: 2000,
                    arrows: false,
                    adaptiveHeight: true,
                });
            });
        </script>
    </body>
</html>